<h1>Client</h1>
  <%@clients.each do |client| %>
  <h2>Client: <%= client.name %></h2>
  <button><%=link_to'Show Client', client_path(client) %><button>
  <button><%=link_to'Edit Client', edit_client_path(client) %><button>
  <button><%=link_to'Delete', client, method: :delete %><button>
<%end%>




